body {
    font-family: getFont('main');
    color: getColor('primary-black');
    background-color: getColor('primary-white');
  }

h1,
h2,
h3,
p {
    margin: 0;
  }
  
img {
    display: block;
    max-width: 100%;
  }

.container {
    @extend %container;
}

.section-title {
  font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}