// ========== color palette ==========

$colors: (
'accent': #2196f3,
'primary-white': #ffffff,
'primary-black': #212121,
'basic': #757575,
'foot-contacts': #ffffff99,
'placeholder': #75757580,
'icon': #afb1b8,
'foot-icon': #ffffff1a
);

@function getColor($var) {
    @return map-get($colors, $var);
};

$bg-colors: (
'hero-overlay': #2f303a66,
'hero': #c4c4c4,
'work-label': #2f303acc,
'dark': #2f303a,
'light': #f5f4fa,
'modal': #00000033,
'card-overlay': #2196f3e5,
'active-btn': #188ce8
);

@function getBgColor($var) {
    @return map-get($bg-colors, $var);
};

$border-colors: (
'header': #ececec,
'project': #eeeeee,
'form': #21212133,
'subscribe': #ffffff4d
);

@function getBorderColor($var) {
    @return map-get($border-colors, $var);
};

// ========== fonts ==========

$fonts: (
'main': ('Roboto', sans-serif),
'secondary': ('Raleway', sans-serif)
);

@function getFont($var) {
    @return map-get($fonts, $var);
};

// ========== repetitive values ==========

$transition: (
'time': 250ms,
'func': cubic-bezier(0.4, 0, 0.2, 1)
);

@function getAnim($var) {
    @return map-get($transition, $var);
};

$sizes: (
'hero-width': 1600px,
'contain-width': 1200px,
'contain-padding': 15px,
'section-padding': 94px,
'btn-width': 200px,
'btn-height': 50px,
'grid-gap': 30px
);

@function getSize($var) {
    @return map-get($sizes, $var);
};

// $main-width: 1200px;
// $main-padding: 15px;

// $card-gap: 30px;