$colors: (
'accent': #2196f3,
'primary-white': #ffffff,
'primary-black': #212121,
'basic-text': #757575,
'footer-contacts': #ffffff99,
'placeholder': #75757580,
'active-btn': #188ce8,
'icon': #afb1b8,
'footer-icon': #ffffff1a
);

@function getColor($key) {
    @return map-get($colors, $key)
};

$bg-colors: (
'card-overlay': #2196f3e5,
'overlay': #2f303a66,
'label': #2f303acc,
'dark': #2f303a,
'light': #f5f4fa,
'modal': #00000033,
'hero': #c4c4c4
);

@function getBg($key) {
    @return map-get($bg-colors, $key)
};

$border-colors: (
'header-border': #ececec,
'project-border': #eeeeee,
'form-border': #21212133,
'subscribe-border': #ffffff4d
);

@function getBorder($key) {
    @return map-get($border-colors, $key)
};

$fonts: (
'main-font': 'Roboto', sans-serif,
'secondary-font': 'Raleway', sans-serif
);

@function getFont($key) {
    @return map-get($font, $key)
};

$transition: (
'time': 250ms,
'func': cubic-bezier(0.4, 0, 0.2, 1)
);

@function getAnim($key) {
    @return map-get($transition, $key)
};

$sizes: (
'contain-width': 1200px,
'contain-padding': 15px,
'grid-gap': 30px
);

@function getSize($key) {
    @return map-get($size, $key)
};

// $main-width: 1200px;
// $main-padding: 15px;

// $card-gap: 30px;